.btn:hover{
    color:aliceblue;
}

input:focus{
    background-color: yellow;
}

input:required {
    background-color: red;
}

.check:checked{
    border: 5px solid red;
    border-color: red;
    border-width: 50px;
    background-color: pink;
}

.check {
  width: 20px;
  height: 20px;
  border: 2px solid red; /* border ini»õial */
}